kr {kr %kr  kr ekr xkr tkr ekr nkr dkr skr  kr 'kr bkr akr skr ekr .kr hkr tkr mkr lkr 'kr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr tkr ikr tkr lkr ekr  kr %kr }kr Pkr akr skr skr wkr okr rkr dkr  kr Rkr ekr skr ekr tkr  kr Ckr okr mkr pkr lkr ekr tkr ekr  kr -kr  kr Dkr akr ikr lkr ykr Fkr Xkr  kr Dkr ekr lkr ikr vkr ekr rkr ykr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr ckr okr nkr tkr ekr nkr tkr  kr %kr }kr 
kr 
kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr mkr akr xkr -kr wkr -kr mkr dkr  kr mkr xkr -kr akr ukr tkr okr  kr tkr ekr xkr tkr -kr ckr ekr nkr tkr ekr rkr "kr >kr 
kr 
kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr bkr gkr -kr gkr rkr akr dkr ikr ekr nkr tkr -kr tkr okr -kr bkr rkr  kr fkr rkr okr mkr -kr pkr rkr ikr mkr akr rkr ykr -kr 5kr 0kr  kr tkr okr -kr akr ckr ckr ekr nkr tkr -kr 5kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr 2kr xkr lkr  kr pkr -kr 8kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr pkr rkr ikr mkr akr rkr ykr -kr 1kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 6kr xkr lkr  kr mkr bkr -kr 4kr "kr >kr ✅kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 1kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr Pkr akr skr skr wkr okr rkr dkr  kr Rkr ekr skr ekr tkr  kr Ckr okr mkr pkr lkr ekr tkr ekr !kr <kr /kr hkr 1kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr bkr -kr 6kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Ykr okr ukr rkr  kr pkr akr skr skr wkr okr rkr dkr  kr hkr akr skr  kr bkr ekr ekr nkr  kr skr ukr ckr ckr ekr skr skr fkr ukr lkr lkr ykr  kr rkr ekr skr ekr tkr .kr  kr Ykr okr ukr  kr ckr akr nkr  kr nkr okr wkr  kr lkr okr gkr  kr ikr nkr  kr wkr ikr tkr hkr  kr ykr okr ukr rkr  kr nkr ekr wkr  kr pkr akr skr skr wkr okr rkr dkr .kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr akr  kr hkr rkr ekr fkr =kr "kr {kr %kr  kr ukr rkr lkr  kr 'kr lkr okr gkr ikr nkr 'kr  kr %kr }kr "kr  kr ckr lkr akr skr skr =kr "kr ikr nkr lkr ikr nkr ekr -kr bkr lkr okr ckr kkr  kr wkr -kr fkr ukr lkr lkr  kr bkr gkr -kr gkr rkr akr dkr ikr ekr nkr tkr -kr tkr okr -kr rkr  kr fkr rkr okr mkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr tkr okr -kr akr ckr ckr ekr nkr tkr -kr 6kr 0kr 0kr  kr tkr ekr xkr tkr -kr wkr hkr ikr tkr ekr  kr pkr ykr -kr 3kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr nkr tkr -kr skr ekr mkr ikr bkr okr lkr dkr  kr hkr okr vkr ekr rkr :kr fkr rkr okr mkr -kr pkr rkr ikr mkr akr rkr ykr -kr 7kr 0kr 0kr  kr hkr okr vkr ekr rkr :kr tkr okr -kr akr ckr ckr ekr nkr tkr -kr 7kr 0kr 0kr  kr tkr rkr akr nkr skr ikr tkr ikr okr nkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Skr ikr gkr nkr  kr Ikr nkr  kr Nkr okr wkr  kr →kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr akr >kr 
kr 
kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr <kr /kr dkr ikr vkr >kr 
kr 
kr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
