 { %   e x t e n d s   ' b a s e . h t m l '   % } 
 
 
 
 { %   b l o c k   t i t l e   % } P a s s w o r d   R e s e t   C o m p l e t e   -   D a i l y F X   D e l i v e r y { %   e n d b l o c k   % } 
 
 
 
 { %   b l o c k   c o n t e n t   % } 
 
 < d i v   c l a s s = " m a x - w - m d   m x - a u t o   t e x t - c e n t e r " > 
 
         < d i v   c l a s s = " b g - g r a d i e n t - t o - b r   f r o m - p r i m a r y - 5 0   t o - a c c e n t - 5 0   r o u n d e d - 2 x l   p - 8   b o r d e r   b o r d e r - p r i m a r y - 1 0 0 " > 
 
                 < d i v   c l a s s = " t e x t - 6 x l   m b - 4 " > ✅ < / d i v > 
 
                 < h 1   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > P a s s w o r d   R e s e t   C o m p l e t e ! < / h 1 > 
 
                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m b - 6 " > 
 
                         Y o u r   p a s s w o r d   h a s   b e e n   s u c c e s s f u l l y   r e s e t .   Y o u   c a n   n o w   l o g   i n   w i t h   y o u r   n e w   p a s s w o r d . 
 
                 < / p > 
 
                 < a   h r e f = " { %   u r l   ' l o g i n '   % } "   c l a s s = " i n l i n e - b l o c k   w - f u l l   b g - g r a d i e n t - t o - r   f r o m - p r i m a r y - 6 0 0   t o - a c c e n t - 6 0 0   t e x t - w h i t e   p y - 3   r o u n d e d - l g   f o n t - s e m i b o l d   h o v e r : f r o m - p r i m a r y - 7 0 0   h o v e r : t o - a c c e n t - 7 0 0   t r a n s i t i o n " > 
 
                         S i g n   I n   N o w   → 
 
                 < / a > 
 
         < / d i v > 
 
 < / d i v > 
 
 { %   e n d b l o c k   % } 
 
 
