 {% autoescape off %}
 
 Hello,
 
 
 
 You're receiving this email because you requested a password reset for your DailyFX Delivery account.
 
 
 
 Please click the link below to reset your password:
 
 
 
 {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
 
 
 
 If you didn't request this password reset, you can safely ignore this email.
 
 
 
 This link will expire in 24 hours.
 
 
 
 Thanks,
 
 The DailyFX Delivery Team
 
 
 
 ---
 
 DailyFX Delivery Delivery Services
 
 Norway-wide parcel delivery with real-time GPS tracking
 
 {% endautoescape %}
 
 
