 { %   e x t e n d s   ' b a s e . h t m l '   % } 
 
 
 
 { %   b l o c k   t i t l e   % } P r i v a c y   P o l i c y   -   D a i l y F X   D e l i v e r y { %   e n d b l o c k   % } 
 
 
 
 { %   b l o c k   c o n t e n t   % } 
 
 < ! - -   N a v i g a t i o n   - - > 
 
 < d i v   c l a s s = " f l e x   j u s t i f y - b e t w e e n   i t e m s - c e n t e r   m b - 8 " > 
 
         < a   h r e f = " { %   u r l   ' t e r m s '   % } "   c l a s s = " f l e x   i t e m s - c e n t e r   t e x t - p r i m a r y - 6 0 0   h o v e r : t e x t - p r i m a r y - 8 0 0   t r a n s i t i o n " > 
 
                 < s p a n   c l a s s = " m r - 2 " > ← < / s p a n >   T e r m s   o f   S e r v i c e 
 
         < / a > 
 
         < a   h r e f = " { %   u r l   ' h o m e '   % } "   c l a s s = " f l e x   i t e m s - c e n t e r   t e x t - p r i m a r y - 6 0 0   h o v e r : t e x t - p r i m a r y - 8 0 0   t r a n s i t i o n " > 
 
                 H o m e   < s p a n   c l a s s = " m l - 2 " > → < / s p a n > 
 
         < / a > 
 
 < / d i v > 
 
 
 
 < d i v   c l a s s = " m a x - w - 4 x l   m x - a u t o " > 
 
         < d i v   c l a s s = " b g - g r a d i e n t - t o - b r   f r o m - p r i m a r y - 5 0   t o - a c c e n t - 5 0   r o u n d e d - 2 x l   p - 8   m d : p - 1 2   b o r d e r   b o r d e r - p r i m a r y - 1 0 0 " > 
 
                 < h 1   c l a s s = " t e x t - 4 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 2 " > P r i v a c y   P o l i c y < / h 1 > 
 
                 < p   c l a s s = " t e x t - p r i m a r y - 5 0 0   m b - 8 " > L a s t   u p d a t e d :   M a r c h   2 0 2 6   |   G D P R   C o m p l i a n t < / p > 
 
                 
 
                 < d i v   c l a s s = " p r o s e   p r o s e - p r i m a r y   m a x - w - n o n e   s p a c e - y - 8 " > 
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 1 .   I n t r o d u c t i o n < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         D a i l y F X   D e l i v e r y   S e r v i c e s   ( " w e " ,   " o u r " ,   " u s " )   i s   c o m m i t t e d   t o   p r o t e c t i n g   y o u r   p r i v a c y .   T h i s   p o l i c y   e x p l a i n s   h o w   w e   c o l l e c t ,   u s e ,   a n d   p r o t e c t   y o u r   p e r s o n a l   d a t a   i n   c o m p l i a n c e   w i t h   t h e   N o r w a y   G e n e r a l   D a t a   P r o t e c t i o n   R e g u l a t i o n   ( N o r w a y   G D P R )   a n d   t h e   D a t a   P r o t e c t i o n   A c t   2 0 1 8 . 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 2 .   D a t a   C o n t r o l l e r < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         D a i l y F X   D e l i v e r y   S e r v i c e s   L t d   i s   t h e   d a t a   c o n t r o l l e r   f o r   y o u r   p e r s o n a l   i n f o r m a t i o n . < b r > 
 
                                         R e g i s t e r e d   A d d r e s s :   1 2 3   L o g i s t i c s   W a y ,   L o n d o n ,   E C 1 A   1 B B < b r > 
 
                                         D a t a   P r o t e c t i o n   O f f i c e r :   d p o @ d a i l y f x d e l i v e r y . c o . N o r w a y 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 3 .   I n f o r m a t i o n   W e   C o l l e c t < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m b - 4 " > W e   c o l l e c t   a n d   p r o c e s s   t h e   f o l l o w i n g   p e r s o n a l   d a t a : < / p > 
 
                                 < u l   c l a s s = " l i s t - d i s c   p l - 6   t e x t - p r i m a r y - 6 0 0   s p a c e - y - 2 " > 
 
                                         < l i > < s t r o n g > A c c o u n t   I n f o r m a t i o n : < / s t r o n g >   N a m e ,   e m a i l   a d d r e s s ,   p h o n e   n u m b e r ,   p a s s w o r d < / l i > 
 
                                         < l i > < s t r o n g > S h i p p i n g   I n f o r m a t i o n : < / s t r o n g >   S e n d e r   a n d   r e c i p i e n t   n a m e s ,   a d d r e s s e s ,   p h o n e   n u m b e r s < / l i > 
 
                                         < l i > < s t r o n g > P a y m e n t   I n f o r m a t i o n : < / s t r o n g >   C a r d   d e t a i l s   ( p r o c e s s e d   s e c u r e l y   v i a   p a y m e n t   p r o v i d e r s ) < / l i > 
 
                                         < l i > < s t r o n g > T r a c k i n g   D a t a : < / s t r o n g >   G P S   c o o r d i n a t e s ,   d e l i v e r y   t i m e s t a m p s ,   p r o o f   o f   d e l i v e r y   p h o t o s < / l i > 
 
                                         < l i > < s t r o n g > C o m m u n i c a t i o n   D a t a : < / s t r o n g >   M e s s a g e s   s e n t   t h r o u g h   o u r   c o n t a c t   f o r m s < / l i > 
 
                                         < l i > < s t r o n g > T e c h n i c a l   D a t a : < / s t r o n g >   I P   a d d r e s s ,   b r o w s e r   t y p e ,   d e v i c e   i n f o r m a t i o n < / l i > 
 
                                 < / u l > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 4 .   L e g a l   B a s i s   f o r   P r o c e s s i n g < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m b - 4 " > W e   p r o c e s s   y o u r   d a t a   b a s e d   o n : < / p > 
 
                                 < u l   c l a s s = " l i s t - d i s c   p l - 6   t e x t - p r i m a r y - 6 0 0   s p a c e - y - 2 " > 
 
                                         < l i > < s t r o n g > C o n t r a c t   P e r f o r m a n c e : < / s t r o n g >   T o   f u l f i l l   o u r   d e l i v e r y   s e r v i c e s < / l i > 
 
                                         < l i > < s t r o n g > L e g i t i m a t e   I n t e r e s t s : < / s t r o n g >   T o   i m p r o v e   o u r   s e r v i c e s   a n d   p r e v e n t   f r a u d < / l i > 
 
                                         < l i > < s t r o n g > C o n s e n t : < / s t r o n g >   F o r   m a r k e t i n g   c o m m u n i c a t i o n s   ( y o u   c a n   o p t   o u t   a n y t i m e ) < / l i > 
 
                                         < l i > < s t r o n g > L e g a l   O b l i g a t i o n : < / s t r o n g >   T o   c o m p l y   w i t h   l a w s   a n d   r e g u l a t i o n s < / l i > 
 
                                 < / u l > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 5 .   H o w   W e   U s e   Y o u r   D a t a < / h 2 > 
 
                                 < u l   c l a s s = " l i s t - d i s c   p l - 6   t e x t - p r i m a r y - 6 0 0   s p a c e - y - 2 " > 
 
                                         < l i > P r o c e s s   a n d   d e l i v e r   y o u r   s h i p m e n t s < / l i > 
 
                                         < l i > P r o v i d e   r e a l - t i m e   t r a c k i n g   i n f o r m a t i o n < / l i > 
 
                                         < l i > S e n d   d e l i v e r y   n o t i f i c a t i o n s   a n d   u p d a t e s < / l i > 
 
                                         < l i > P r o c e s s   p a y m e n t s   a n d   r e f u n d s < / l i > 
 
                                         < l i > R e s p o n d   t o   y o u r   e n q u i r i e s < / l i > 
 
                                         < l i > I m p r o v e   o u r   s e r v i c e s   a n d   u s e r   e x p e r i e n c e < / l i > 
 
                                         < l i > C o m p l y   w i t h   l e g a l   r e q u i r e m e n t s < / l i > 
 
                                 < / u l > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 6 .   D a t a   S h a r i n g < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m b - 4 " > W e   m a y   s h a r e   y o u r   d a t a   w i t h : < / p > 
 
                                 < u l   c l a s s = " l i s t - d i s c   p l - 6   t e x t - p r i m a r y - 6 0 0   s p a c e - y - 2 " > 
 
                                         < l i > O u r   d e l i v e r y   d r i v e r s   ( f o r   p a c k a g e   d e l i v e r y ) < / l i > 
 
                                         < l i > P a y m e n t   p r o c e s s o r s   ( f o r   s e c u r e   t r a n s a c t i o n s ) < / l i > 
 
                                         < l i > C l o u d   s e r v i c e   p r o v i d e r s   ( f o r   d a t a   s t o r a g e ) < / l i > 
 
                                         < l i > L a w   e n f o r c e m e n t   ( w h e n   l e g a l l y   r e q u i r e d ) < / l i > 
 
                                 < / u l > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m t - 4 " > W e   n e v e r   s e l l   y o u r   p e r s o n a l   d a t a   t o   t h i r d   p a r t i e s . < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 7 .   D a t a   R e t e n t i o n < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         W e   r e t a i n   y o u r   p e r s o n a l   d a t a   f o r   a s   l o n g   a s   n e c e s s a r y   t o   p r o v i d e   o u r   s e r v i c e s   a n d   c o m p l y   w i t h   l e g a l   o b l i g a t i o n s .   T y p i c a l l y : < b r > 
 
                                         •   A c c o u n t   d a t a :   U n t i l   a c c o u n t   d e l e t i o n   +   6   y e a r s < b r > 
 
                                         •   S h i p p i n g   r e c o r d s :   6   y e a r s   f o r   t a x   p u r p o s e s < b r > 
 
                                         •   M a r k e t i n g   d a t a :   U n t i l   y o u   u n s u b s c r i b e 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 8 .   Y o u r   R i g h t s < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m b - 4 " > U n d e r   N o r w a y   G D P R ,   y o u   h a v e   t h e   r i g h t   t o : < / p > 
 
                                 < u l   c l a s s = " l i s t - d i s c   p l - 6   t e x t - p r i m a r y - 6 0 0   s p a c e - y - 2 " > 
 
                                         < l i > < s t r o n g > A c c e s s : < / s t r o n g >   R e q u e s t   a   c o p y   o f   y o u r   p e r s o n a l   d a t a < / l i > 
 
                                         < l i > < s t r o n g > R e c t i f i c a t i o n : < / s t r o n g >   C o r r e c t   i n a c c u r a t e   d a t a < / l i > 
 
                                         < l i > < s t r o n g > E r a s u r e : < / s t r o n g >   R e q u e s t   d e l e t i o n   o f   y o u r   d a t a < / l i > 
 
                                         < l i > < s t r o n g > P o r t a b i l i t y : < / s t r o n g >   R e c e i v e   y o u r   d a t a   i n   a   p o r t a b l e   f o r m a t < / l i > 
 
                                         < l i > < s t r o n g > O b j e c t : < / s t r o n g >   O b j e c t   t o   c e r t a i n   p r o c e s s i n g   a c t i v i t i e s < / l i > 
 
                                         < l i > < s t r o n g > W i t h d r a w   C o n s e n t : < / s t r o n g >   W i t h d r a w   p r e v i o u s l y   g i v e n   c o n s e n t < / l i > 
 
                                 < / u l > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0   m t - 4 " > T o   e x e r c i s e   t h e s e   r i g h t s ,   c o n t a c t :   p r i v a c y @ d a i l y f x d e l i v e r y . c o . N o r w a y < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 9 .   C o o k i e s < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         W e   u s e   e s s e n t i a l   c o o k i e s   f o r   s i t e   f u n c t i o n a l i t y   a n d   o p t i o n a l   a n a l y t i c s   c o o k i e s   t o   i m p r o v e   o u r   s e r v i c e s .   Y o u   c a n   m a n a g e   c o o k i e   p r e f e r e n c e s   i n   y o u r   b r o w s e r   s e t t i n g s . 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 1 0 .   S e c u r i t y < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         W e   i m p l e m e n t   a p p r o p r i a t e   t e c h n i c a l   a n d   o r g a n i s a t i o n a l   m e a s u r e s   t o   p r o t e c t   y o u r   d a t a ,   i n c l u d i n g   e n c r y p t i o n ,   s e c u r e   s e r v e r s ,   a n d   a c c e s s   c o n t r o l s . 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 1 1 .   C o m p l a i n t s < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         I f   y o u ' r e   u n h a p p y   w i t h   h o w   w e   h a n d l e   y o u r   d a t a ,   y o u   c a n   c o m p l a i n   t o   t h e   I n f o r m a t i o n   C o m m i s s i o n e r ' s   O f f i c e   ( I C O ) : < b r > 
 
                                         W e b s i t e :   i c o . o r g . N o r w a y < b r > 
 
                                         P h o n e :   0 3 0 3   1 2 3   1 1 1 3 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                         
 
                         < s e c t i o n > 
 
                                 < h 2   c l a s s = " t e x t - 2 x l   f o n t - b o l d   t e x t - p r i m a r y - 8 0 0   m b - 4 " > 1 2 .   C o n t a c t   U s < / h 2 > 
 
                                 < p   c l a s s = " t e x t - p r i m a r y - 6 0 0 " > 
 
                                         F o r   p r i v a c y - r e l a t e d   e n q u i r i e s : < b r > 
 
                                         E m a i l :   p r i v a c y @ d a i l y f x d e l i v e r y . c o . N o r w a y < b r > 
 
                                         P o s t :   D a t a   P r o t e c t i o n   O f f i c e r ,   D a i l y F X   D e l i v e r y ,   1 2 3   L o g i s t i c s   W a y ,   L o n d o n ,   E C 1 A   1 B B 
 
                                 < / p > 
 
                         < / s e c t i o n > 
 
                 < / d i v > 
 
         < / d i v > 
 
 < / d i v > 
 
 { %   e n d b l o c k   % } 
 
 
