kr {kr %kr  kr ekr xkr tkr ekr nkr dkr skr  kr 'kr bkr akr skr ekr .kr hkr tkr mkr lkr 'kr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr tkr ikr tkr lkr ekr  kr %kr }kr Rkr ekr gkr ikr skr tkr ekr rkr  kr -kr  kr Dkr akr ikr lkr ykr Fkr Xkr  kr Dkr ekr lkr ikr vkr ekr rkr ykr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr ckr okr nkr tkr ekr nkr tkr  kr %kr }kr 
kr 
kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr mkr akr xkr -kr wkr -kr mkr dkr  kr mkr xkr -kr akr ukr tkr okr "kr >kr 
kr 
kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr bkr gkr -kr wkr hkr ikr tkr ekr  kr rkr okr ukr nkr dkr ekr dkr -kr xkr lkr  kr skr hkr akr dkr okr wkr -kr lkr gkr  kr pkr -kr 8kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 1kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 6kr  kr tkr ekr xkr tkr -kr ckr ekr nkr tkr ekr rkr "kr >kr Ckr rkr ekr akr tkr ekr  kr Akr ckr ckr okr ukr nkr tkr <kr /kr hkr 1kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr {kr %kr  kr ikr fkr  kr ekr rkr rkr okr rkr skr  kr %kr }kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr bkr gkr -kr rkr ekr dkr -kr 5kr 0kr  kr tkr ekr xkr tkr -kr rkr ekr dkr -kr 7kr 0kr 0kr  kr pkr -kr 4kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr mkr bkr -kr 6kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ukr lkr  kr ckr lkr akr skr skr =kr "kr lkr ikr skr tkr -kr dkr ikr skr ckr  kr lkr ikr skr tkr -kr ikr nkr skr ikr dkr ekr  kr skr pkr akr ckr ekr -kr ykr -kr 1kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr {kr %kr  kr fkr okr rkr  kr ekr rkr rkr okr rkr  kr ikr nkr  kr ekr rkr rkr okr rkr skr  kr %kr }kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr {kr {kr  kr ekr rkr rkr okr rkr  kr }kr }kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr {kr %kr  kr ekr nkr dkr fkr okr rkr  kr %kr }kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr ukr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr {kr %kr  kr ekr nkr dkr ikr fkr  kr %kr }kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr fkr okr rkr mkr  kr mkr ekr tkr hkr okr dkr =kr "kr Pkr Okr Skr Tkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr {kr %kr  kr ckr skr rkr fkr _kr tkr okr kkr ekr nkr  kr %kr }kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr skr pkr akr ckr ekr -kr ykr -kr 4kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Ukr skr ekr rkr nkr akr mkr ekr  kr *kr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr tkr ekr xkr tkr "kr  kr nkr akr mkr ekr =kr "kr ukr skr ekr rkr nkr akr mkr ekr "kr  kr rkr ekr qkr ukr ikr rkr ekr dkr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Ekr mkr akr ikr lkr  kr *kr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr ekr mkr akr ikr lkr "kr  kr nkr akr mkr ekr =kr "kr ekr mkr akr ikr lkr "kr  kr rkr ekr qkr ukr ikr rkr ekr dkr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr gkr rkr ikr dkr  kr gkr rkr ikr dkr -kr ckr okr lkr skr -kr 2kr  kr gkr akr pkr -kr 4kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Fkr ikr rkr skr tkr  kr Nkr akr mkr ekr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr tkr ekr xkr tkr "kr  kr nkr akr mkr ekr =kr "kr fkr ikr rkr skr tkr _kr nkr akr mkr ekr "kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Lkr akr skr tkr  kr Nkr akr mkr ekr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr tkr ekr xkr tkr "kr  kr nkr akr mkr ekr =kr "kr lkr akr skr tkr _kr nkr akr mkr ekr "kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Pkr hkr okr nkr ekr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr tkr ekr lkr "kr  kr nkr akr mkr ekr =kr "kr pkr hkr okr nkr ekr "kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Pkr akr skr skr wkr okr rkr dkr  kr *kr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr pkr akr skr skr wkr okr rkr dkr "kr  kr nkr akr mkr ekr =kr "kr pkr akr skr skr wkr okr rkr dkr "kr  kr rkr ekr qkr ukr ikr rkr ekr dkr  kr mkr ikr nkr lkr ekr nkr gkr tkr hkr =kr "kr 8kr "kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr akr bkr ekr lkr  kr ckr lkr akr skr skr =kr "kr bkr lkr okr ckr kkr  kr tkr ekr xkr tkr -kr skr mkr  kr fkr okr nkr tkr -kr mkr ekr dkr ikr ukr mkr  kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 7kr 0kr 0kr  kr mkr bkr -kr 1kr "kr >kr Ckr okr nkr fkr ikr rkr mkr  kr Pkr akr skr skr wkr okr rkr dkr  kr *kr <kr /kr lkr akr bkr ekr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ikr nkr pkr ukr tkr  kr tkr ykr pkr ekr =kr "kr pkr akr skr skr wkr okr rkr dkr "kr  kr nkr akr mkr ekr =kr "kr pkr akr skr skr wkr okr rkr dkr 2kr "kr  kr rkr ekr qkr ukr ikr rkr ekr dkr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr pkr xkr -kr 4kr  kr pkr ykr -kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr gkr rkr akr ykr -kr 3kr 0kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr 2kr  kr fkr okr ckr ukr skr :kr rkr ikr nkr gkr -kr ikr nkr dkr ikr gkr okr -kr 5kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr bkr ukr tkr tkr okr nkr  kr tkr ykr pkr ekr =kr "kr skr ukr bkr mkr ikr tkr "kr  kr ckr lkr akr skr skr =kr "kr wkr -kr fkr ukr lkr lkr  kr mkr tkr -kr 6kr  kr bkr gkr -kr ikr nkr dkr ikr gkr okr -kr 6kr 0kr 0kr  kr tkr ekr xkr tkr -kr wkr hkr ikr tkr ekr  kr pkr ykr -kr 3kr  kr rkr okr ukr nkr dkr ekr dkr -kr lkr gkr  kr fkr okr nkr tkr -kr skr ekr mkr ikr bkr okr lkr dkr  kr hkr okr vkr ekr rkr :kr bkr gkr -kr ikr nkr dkr ikr gkr okr -kr 7kr 0kr 0kr  kr tkr rkr akr nkr skr ikr tkr ikr okr nkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Ckr rkr ekr akr tkr ekr  kr Akr ckr ckr okr ukr nkr tkr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr bkr ukr tkr tkr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr fkr okr rkr mkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr mkr tkr -kr 6kr  kr tkr ekr xkr tkr -kr ckr ekr nkr tkr ekr rkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr gkr rkr akr ykr -kr 6kr 0kr 0kr "kr >kr Akr lkr rkr ekr akr dkr ykr  kr hkr akr vkr ekr  kr akr nkr  kr akr ckr ckr okr ukr nkr tkr ?kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr akr  kr hkr rkr ekr fkr =kr "kr {kr %kr  kr ukr rkr lkr  kr 'kr lkr okr gkr ikr nkr 'kr  kr %kr }kr "kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr ikr nkr dkr ikr gkr okr -kr 6kr 0kr 0kr  kr hkr okr vkr ekr rkr :kr ukr nkr dkr ekr rkr lkr ikr nkr ekr "kr >kr Lkr okr gkr ikr nkr  kr hkr ekr rkr ekr <kr /kr akr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr <kr /kr dkr ikr vkr >kr 
kr 
kr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
