kr {kr %kr  kr ekr xkr tkr ekr nkr dkr skr  kr 'kr bkr akr skr ekr .kr hkr tkr mkr lkr 'kr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr tkr ikr tkr lkr ekr  kr %kr }kr Tkr ekr rkr mkr skr  kr okr fkr  kr Skr ekr rkr vkr ikr ckr ekr  kr -kr  kr Dkr akr ikr lkr ykr Fkr Xkr  kr Dkr ekr lkr ikr vkr ekr rkr ykr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
kr 
kr {kr %kr  kr bkr lkr okr ckr kkr  kr ckr okr nkr tkr ekr nkr tkr  kr %kr }kr 
kr 
kr <kr !kr -kr -kr  kr Nkr akr vkr ikr gkr akr tkr ikr okr nkr  kr -kr -kr >kr 
kr 
kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr fkr lkr ekr xkr  kr jkr ukr skr tkr ikr fkr ykr -kr bkr ekr tkr wkr ekr ekr nkr  kr ikr tkr ekr mkr skr -kr ckr ekr nkr tkr ekr rkr  kr mkr bkr -kr 8kr "kr >kr 
kr 
kr  kr  kr  kr  kr <kr akr  kr hkr rkr ekr fkr =kr "kr {kr %kr  kr ukr rkr lkr  kr 'kr hkr okr mkr ekr 'kr  kr %kr }kr "kr  kr ckr lkr akr skr skr =kr "kr fkr lkr ekr xkr  kr ikr tkr ekr mkr skr -kr ckr ekr nkr tkr ekr rkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr hkr okr vkr ekr rkr :kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr tkr rkr akr nkr skr ikr tkr ikr okr nkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr pkr akr nkr  kr ckr lkr akr skr skr =kr "kr mkr rkr -kr 2kr "kr >kr ←kr <kr /kr skr pkr akr nkr >kr  kr Bkr akr ckr kkr  kr tkr okr  kr Hkr okr mkr ekr 
kr 
kr  kr  kr  kr  kr <kr /kr akr >kr 
kr 
kr  kr  kr  kr  kr <kr akr  kr hkr rkr ekr fkr =kr "kr {kr %kr  kr ukr rkr lkr  kr 'kr pkr rkr ikr vkr akr ckr ykr 'kr  kr %kr }kr "kr  kr ckr lkr akr skr skr =kr "kr fkr lkr ekr xkr  kr ikr tkr ekr mkr skr -kr ckr ekr nkr tkr ekr rkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr hkr okr vkr ekr rkr :kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr tkr rkr akr nkr skr ikr tkr ikr okr nkr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr Pkr rkr ikr vkr akr ckr ykr  kr Pkr okr lkr ikr ckr ykr  kr <kr skr pkr akr nkr  kr ckr lkr akr skr skr =kr "kr mkr lkr -kr 2kr "kr >kr →kr <kr /kr skr pkr akr nkr >kr 
kr 
kr  kr  kr  kr  kr <kr /kr akr >kr 
kr 
kr <kr /kr dkr ikr vkr >kr 
kr 
kr 
kr 
kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr mkr akr xkr -kr wkr -kr 4kr xkr lkr  kr mkr xkr -kr akr ukr tkr okr "kr >kr 
kr 
kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr bkr gkr -kr gkr rkr akr dkr ikr ekr nkr tkr -kr tkr okr -kr bkr rkr  kr fkr rkr okr mkr -kr pkr rkr ikr mkr akr rkr ykr -kr 5kr 0kr  kr tkr okr -kr akr ckr ckr ekr nkr tkr -kr 5kr 0kr  kr rkr okr ukr nkr dkr ekr dkr -kr 2kr xkr lkr  kr pkr -kr 8kr  kr mkr dkr :kr pkr -kr 1kr 2kr  kr bkr okr rkr dkr ekr rkr  kr bkr okr rkr dkr ekr rkr -kr pkr rkr ikr mkr akr rkr ykr -kr 1kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 1kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 4kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 2kr "kr >kr Tkr ekr rkr mkr skr  kr okr fkr  kr Skr ekr rkr vkr ikr ckr ekr <kr /kr hkr 1kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 5kr 0kr 0kr  kr mkr bkr -kr 8kr "kr >kr Lkr akr skr tkr  kr ukr pkr dkr akr tkr ekr dkr :kr  kr Mkr akr rkr ckr hkr  kr 2kr 0kr 2kr 6kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr dkr ikr vkr  kr ckr lkr akr skr skr =kr "kr pkr rkr okr skr ekr  kr pkr rkr okr skr ekr -kr pkr rkr ikr mkr akr rkr ykr  kr mkr akr xkr -kr wkr -kr nkr okr nkr ekr  kr skr pkr akr ckr ekr -kr ykr -kr 8kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 1kr .kr  kr Akr ckr ckr ekr pkr tkr akr nkr ckr ekr  kr okr fkr  kr Tkr ekr rkr mkr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Bkr ykr  kr akr ckr ckr ekr skr skr ikr nkr gkr  kr akr nkr dkr  kr ukr skr ikr nkr gkr  kr Dkr akr ikr lkr ykr Fkr Xkr  kr Dkr ekr lkr ikr vkr ekr rkr ykr 'kr skr  kr skr ekr rkr vkr ikr ckr ekr skr ,kr  kr ykr okr ukr  kr akr gkr rkr ekr ekr  kr tkr okr  kr bkr ekr  kr bkr okr ukr nkr dkr  kr bkr ykr  kr tkr hkr ekr skr ekr  kr Tkr ekr rkr mkr skr  kr okr fkr  kr Skr ekr rkr vkr ikr ckr ekr .kr  kr Ikr fkr  kr ykr okr ukr  kr dkr okr  kr nkr okr tkr  kr akr gkr rkr ekr ekr  kr tkr okr  kr tkr hkr ekr skr ekr  kr tkr ekr rkr mkr skr ,kr  kr pkr lkr ekr akr skr ekr  kr dkr okr  kr nkr okr tkr  kr ukr skr ekr  kr okr ukr rkr  kr skr ekr rkr vkr ikr ckr ekr skr .kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 2kr .kr  kr Dkr ekr skr ckr rkr ikr pkr tkr ikr okr nkr  kr okr fkr  kr Skr ekr rkr vkr ikr ckr ekr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr Dkr akr ikr lkr ykr Fkr Xkr  kr Dkr ekr lkr ikr vkr ekr rkr ykr  kr pkr rkr okr vkr ikr dkr ekr skr  kr pkr akr rkr ckr ekr lkr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr skr ekr rkr vkr ikr ckr ekr skr  kr akr ckr rkr okr skr skr  kr tkr hkr ekr  kr Nkr okr rkr wkr akr ykr ,kr  kr ikr nkr ckr lkr ukr dkr ikr nkr gkr :kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ukr lkr  kr ckr lkr akr skr skr =kr "kr lkr ikr skr tkr -kr dkr ikr skr ckr  kr pkr lkr -kr 6kr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr skr pkr akr ckr ekr -kr ykr -kr 2kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Skr tkr akr nkr dkr akr rkr dkr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr (kr 2kr -kr 3kr  kr bkr ukr skr ikr nkr ekr skr skr  kr dkr akr ykr skr )kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Ekr xkr pkr rkr ekr skr skr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr (kr nkr ekr xkr tkr  kr bkr ukr skr ikr nkr ekr skr skr  kr dkr akr ykr )kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Skr akr mkr ekr -kr dkr akr ykr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr (kr skr ekr lkr ekr ckr tkr ekr dkr  kr akr rkr ekr akr skr )kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Rkr ekr akr lkr -kr tkr ikr mkr ekr  kr Gkr Pkr Skr  kr tkr rkr akr ckr kkr ikr nkr gkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Pkr rkr okr okr fkr  kr okr fkr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr wkr ikr tkr hkr  kr pkr hkr okr tkr okr  kr ckr okr nkr fkr ikr rkr mkr akr tkr ikr okr nkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr ukr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 3kr .kr  kr Ukr skr ekr rkr  kr Akr ckr ckr okr ukr nkr tkr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Tkr okr  kr ukr skr ekr  kr okr ukr rkr  kr skr ekr rkr vkr ikr ckr ekr skr ,kr  kr ykr okr ukr  kr mkr ukr skr tkr  kr ckr rkr ekr akr tkr ekr  kr akr nkr  kr akr ckr ckr okr ukr nkr tkr  kr akr nkr dkr  kr pkr rkr okr vkr ikr dkr ekr  kr akr ckr ckr ukr rkr akr tkr ekr ,kr  kr ckr okr mkr pkr lkr ekr tkr ekr  kr ikr nkr fkr okr rkr mkr akr tkr ikr okr nkr .kr  kr Ykr okr ukr  kr akr rkr ekr  kr rkr ekr skr pkr okr nkr skr ikr bkr lkr ekr  kr fkr okr rkr :kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ukr lkr  kr ckr lkr akr skr skr =kr "kr lkr ikr skr tkr -kr dkr ikr skr ckr  kr pkr lkr -kr 6kr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr skr pkr akr ckr ekr -kr ykr -kr 2kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Mkr akr ikr nkr tkr akr ikr nkr ikr nkr gkr  kr tkr hkr ekr  kr ckr okr nkr fkr ikr dkr ekr nkr tkr ikr akr lkr ikr tkr ykr  kr okr fkr  kr ykr okr ukr rkr  kr akr ckr ckr okr ukr nkr tkr  kr ckr rkr ekr dkr ekr nkr tkr ikr akr lkr skr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Akr lkr lkr  kr akr ckr tkr ikr vkr ikr tkr ikr ekr skr  kr tkr hkr akr tkr  kr okr ckr ckr ukr rkr  kr ukr nkr dkr ekr rkr  kr ykr okr ukr rkr  kr akr ckr ckr okr ukr nkr tkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Nkr okr tkr ikr fkr ykr ikr nkr gkr  kr ukr skr  kr ikr mkr mkr ekr dkr ikr akr tkr ekr lkr ykr  kr okr fkr  kr akr nkr ykr  kr ukr nkr akr ukr tkr hkr okr rkr ikr zkr ekr dkr  kr ukr skr ekr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr ukr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 4kr .kr  kr Pkr rkr okr hkr ikr bkr ikr tkr ekr dkr  kr Ikr tkr ekr mkr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr Tkr hkr ekr  kr fkr okr lkr lkr okr wkr ikr nkr gkr  kr ikr tkr ekr mkr skr  kr akr rkr ekr  kr pkr rkr okr hkr ikr bkr ikr tkr ekr dkr  kr fkr rkr okr mkr  kr skr hkr ikr pkr pkr ikr nkr gkr :kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ukr lkr  kr ckr lkr akr skr skr =kr "kr lkr ikr skr tkr -kr dkr ikr skr ckr  kr pkr lkr -kr 6kr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr skr pkr akr ckr ekr -kr ykr -kr 2kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Ikr lkr lkr ekr gkr akr lkr  kr skr ukr bkr skr tkr akr nkr ckr ekr skr  kr okr rkr  kr ckr okr nkr tkr rkr akr bkr akr nkr dkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Hkr akr zkr akr rkr dkr okr ukr skr  kr mkr akr tkr ekr rkr ikr akr lkr skr  kr (kr ekr xkr pkr lkr okr skr ikr vkr ekr skr ,kr  kr fkr lkr akr mkr mkr akr bkr lkr ekr  kr lkr ikr qkr ukr ikr dkr skr ,kr  kr ekr tkr ckr .kr )kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Wkr ekr akr pkr okr nkr skr  kr akr nkr dkr  kr akr mkr mkr ukr nkr ikr tkr ikr okr nkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Pkr ekr rkr ikr skr hkr akr bkr lkr ekr  kr gkr okr okr dkr skr  kr (kr wkr ikr tkr hkr okr ukr tkr  kr pkr rkr okr pkr ekr rkr  kr pkr akr ckr kkr akr gkr ikr nkr gkr )kr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Lkr ikr vkr ekr  kr akr nkr ikr mkr akr lkr skr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Ckr ukr rkr rkr ekr nkr ckr ykr ,kr  kr jkr ekr wkr ekr lkr lkr ekr rkr ykr ,kr  kr okr rkr  kr pkr rkr ekr ckr ikr okr ukr skr  kr mkr ekr tkr akr lkr skr  kr okr vkr ekr rkr  kr £kr 5kr 0kr 0kr  kr vkr akr lkr ukr ekr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr ukr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 5kr .kr  kr Pkr rkr ikr ckr ikr nkr gkr  kr akr nkr dkr  kr Pkr akr ykr mkr ekr nkr tkr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Akr lkr lkr  kr pkr rkr ikr ckr ekr skr  kr akr rkr ekr  kr dkr ikr skr pkr lkr akr ykr ekr dkr  kr ikr nkr  kr Bkr rkr ikr tkr ikr skr hkr  kr Pkr okr ukr nkr dkr skr  kr (kr Gkr Bkr Pkr )kr  kr akr nkr dkr  kr akr rkr ekr  kr skr ukr bkr jkr ekr ckr tkr  kr tkr okr  kr ckr hkr akr nkr gkr ekr .kr  kr Pkr akr ykr mkr ekr nkr tkr  kr ikr skr  kr rkr ekr qkr ukr ikr rkr ekr dkr  kr akr tkr  kr tkr hkr ekr  kr tkr ikr mkr ekr  kr okr fkr  kr bkr okr okr kkr ikr nkr gkr .kr  kr Wkr ekr  kr akr ckr ckr ekr pkr tkr  kr mkr akr jkr okr rkr  kr ckr rkr ekr dkr ikr tkr /kr dkr ekr bkr ikr tkr  kr ckr akr rkr dkr skr  kr akr nkr dkr  kr bkr akr nkr kkr  kr tkr rkr akr nkr skr fkr ekr rkr skr  kr fkr okr rkr  kr bkr ukr skr ikr nkr ekr skr skr  kr akr ckr ckr okr ukr nkr tkr skr .kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 6kr .kr  kr Dkr ekr lkr ikr vkr ekr rkr ykr  kr akr nkr dkr  kr Lkr ikr akr bkr ikr lkr ikr tkr ykr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Wkr hkr ikr lkr ekr  kr wkr ekr  kr skr tkr rkr ikr vkr ekr  kr tkr okr  kr dkr ekr lkr ikr vkr ekr rkr  kr akr lkr lkr  kr pkr akr ckr kkr akr gkr ekr skr  kr okr nkr  kr tkr ikr mkr ekr ,kr  kr dkr ekr lkr ikr vkr ekr rkr ykr  kr tkr ikr mkr ekr skr  kr akr rkr ekr  kr ekr skr tkr ikr mkr akr tkr ekr skr  kr akr nkr dkr  kr nkr okr tkr  kr gkr ukr akr rkr akr nkr tkr ekr ekr dkr .kr  kr Okr ukr rkr  kr lkr ikr akr bkr ikr lkr ikr tkr ykr  kr fkr okr rkr  kr lkr okr skr tkr  kr okr rkr  kr dkr akr mkr akr gkr ekr dkr  kr ikr tkr ekr mkr skr  kr ikr skr  kr lkr ikr mkr ikr tkr ekr dkr  kr tkr okr :kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr ukr lkr  kr ckr lkr akr skr skr =kr "kr lkr ikr skr tkr -kr dkr ikr skr ckr  kr pkr lkr -kr 6kr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr skr pkr akr ckr ekr -kr ykr -kr 2kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Skr tkr akr nkr dkr akr rkr dkr  kr skr ekr rkr vkr ikr ckr ekr :kr  kr £kr 5kr 0kr  kr pkr ekr rkr  kr pkr akr rkr ckr ekr lkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Ekr xkr pkr rkr ekr skr skr  kr skr ekr rkr vkr ikr ckr ekr :kr  kr £kr 1kr 0kr 0kr  kr pkr ekr rkr  kr pkr akr rkr ckr ekr lkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr lkr ikr >kr Skr akr mkr ekr -kr dkr akr ykr  kr skr ekr rkr vkr ikr ckr ekr :kr  kr £kr 2kr 0kr 0kr  kr pkr ekr rkr  kr pkr akr rkr ckr ekr lkr <kr /kr lkr ikr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr ukr lkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr  kr mkr tkr -kr 4kr "kr >kr Akr dkr dkr ikr tkr ikr okr nkr akr lkr  kr ikr nkr skr ukr rkr akr nkr ckr ekr  kr ckr okr vkr ekr rkr akr gkr ekr  kr ikr skr  kr akr vkr akr ikr lkr akr bkr lkr ekr  kr fkr okr rkr  kr pkr ukr rkr ckr hkr akr skr ekr .kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 7kr .kr  kr Ckr akr nkr ckr ekr lkr lkr akr tkr ikr okr nkr  kr akr nkr dkr  kr Rkr ekr fkr ukr nkr dkr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Ykr okr ukr  kr mkr akr ykr  kr ckr akr nkr ckr ekr lkr  kr akr  kr skr hkr ikr pkr mkr ekr nkr tkr  kr bkr ekr fkr okr rkr ekr  kr ikr tkr  kr ikr skr  kr ckr okr lkr lkr ekr ckr tkr ekr dkr  kr fkr okr rkr  kr akr  kr fkr ukr lkr lkr  kr rkr ekr fkr ukr nkr dkr .kr  kr Okr nkr ckr ekr  kr ckr okr lkr lkr ekr ckr tkr ekr dkr ,kr  kr ckr akr nkr ckr ekr lkr lkr akr tkr ikr okr nkr  kr fkr ekr ekr skr  kr mkr akr ykr  kr akr pkr pkr lkr ykr .kr  kr Rkr ekr fkr ukr nkr dkr skr  kr fkr okr rkr  kr skr ekr rkr vkr ikr ckr ekr  kr ikr skr skr ukr ekr skr  kr akr rkr ekr  kr hkr akr nkr dkr lkr ekr dkr  kr okr nkr  kr akr  kr ckr akr skr ekr -kr bkr ykr -kr ckr akr skr ekr  kr bkr akr skr ikr skr .kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 8kr .kr  kr Ckr hkr akr nkr gkr ekr skr  kr tkr okr  kr Tkr ekr rkr mkr skr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Wkr ekr  kr rkr ekr skr ekr rkr vkr ekr  kr tkr hkr ekr  kr rkr ikr gkr hkr tkr  kr tkr okr  kr mkr okr dkr ikr fkr ykr  kr tkr hkr ekr skr ekr  kr tkr ekr rkr mkr skr  kr akr tkr  kr akr nkr ykr  kr tkr ikr mkr ekr .kr  kr Ckr okr nkr tkr ikr nkr ukr ekr dkr  kr ukr skr ekr  kr okr fkr  kr okr ukr rkr  kr skr ekr rkr vkr ikr ckr ekr skr  kr akr fkr tkr ekr rkr  kr ckr hkr akr nkr gkr ekr skr  kr ckr okr nkr skr tkr ikr tkr ukr tkr ekr skr  kr akr ckr ckr ekr pkr tkr akr nkr ckr ekr  kr okr fkr  kr tkr hkr ekr  kr nkr ekr wkr  kr tkr ekr rkr mkr skr .kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr hkr 2kr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr 2kr xkr lkr  kr fkr okr nkr tkr -kr bkr okr lkr dkr  kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 8kr 0kr 0kr  kr mkr bkr -kr 4kr "kr >kr 9kr .kr  kr Ckr okr nkr tkr akr ckr tkr <kr /kr hkr 2kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr pkr  kr ckr lkr akr skr skr =kr "kr tkr ekr xkr tkr -kr pkr rkr ikr mkr akr rkr ykr -kr 6kr 0kr 0kr "kr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Fkr okr rkr  kr qkr ukr ekr skr tkr ikr okr nkr skr  kr akr bkr okr ukr tkr  kr tkr hkr ekr skr ekr  kr Tkr ekr rkr mkr skr  kr okr fkr  kr Skr ekr rkr vkr ikr ckr ekr ,kr  kr pkr lkr ekr akr skr ekr  kr ckr okr nkr tkr akr ckr tkr  kr ukr skr  kr akr tkr :kr <kr bkr rkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Ekr mkr akr ikr lkr :kr  kr lkr ekr gkr akr lkr @kr dkr akr ikr lkr ykr fkr xkr dkr ekr lkr ikr vkr ekr rkr ykr .kr ckr okr .kr Nkr okr rkr wkr akr ykr <kr bkr rkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr Pkr hkr okr nkr ekr :kr  kr 0kr 8kr 0kr 0kr  kr 1kr 2kr 3kr  kr 4kr 5kr 6kr 7kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr pkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr skr ekr ckr tkr ikr okr nkr >kr 
kr 
kr  kr  kr  kr  kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr  kr  kr  kr  kr <kr /kr dkr ikr vkr >kr 
kr 
kr <kr /kr dkr ikr vkr >kr 
kr 
kr {kr %kr  kr ekr nkr dkr bkr lkr okr ckr kkr  kr %kr }kr 
kr 
kr 
